@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Light.eot');
    src: local('Quicksand Light'), local('Quicksand-Light'),
        url('fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Quicksand-Light.woff2') format('woff2'),
        url('fonts/Quicksand-Light.woff') format('woff'),
        url('fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

